<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Phage</h1>
    <p>
      We've seen some recent activity you might be interested in:
    </p>
    <p>
      <%= @history.message %>
    </p>
  </body>
</html>
