<h2>Log in</h2>

<p>Sign in using any Slack team. If you sign in on another device
  please be sure to use the same Slack team.</p>
<a href='/users/auth/slack'>
   <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
</a>
